[flake8]
exclude =
    .git,
    __pycache__,
    build,
    data,
    dist,
    docs/source/conf.py,
    venv,
ignore = W503, E203
max-line-length = 88
max-complexity = 10
select = B, C, E, F, W, T4, B9
